/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/test/*
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/config/master.key

config/credentials.yml.enc
config/database.yml
config/storage.yml

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env
