<tr>
  <td><%= link_to fund.name, funds_path(fund) %></td>
  <td><%= fund.total_money %></td>
  <td><%= l fund.created_at, format: :full %></td>
  <td><%= l fund.updated_at, format: :full %></td>
</tr>
